[submodule "lib/lsched"]
	path = lib/lsched
	url = https://github.com/shuneycutt22/lsched.git
[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/johnrickman/LiquidCrystal_I2C.git
[submodule "lib/SimpleSerialShell"]
	path = lib/SimpleSerialShell
	url = https://github.com/philj404/SimpleSerialShell.git
[submodule "lib/lstate"]
	path = lib/lstate
	url = https://github.com/shuneycutt22/lstate.git
